.sidebar-wrapper {
    width: $sidebar-width;
    height: 90%;
    max-height: 90%;
    position: absolute;
    top: 68px;
    left: -$sidebar-width;
    z-index: 999;
    transition: left .3s ease, width .3s ease;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
    }

    a {
        text-decoration: none;
        transition: color .3s ease;
    }

    .sidebar-item {
        transition: all .3s linear;
    }

    .sidebar-content {
        max-height: calc(100% - #{$sidebar-footer-height});
        height: calc(100% - #{$sidebar-footer-height});
        overflow-y: auto;
        position: relative;

        &.desktop {
            overflow-y: hidden;
        }
    }
}