$sidebar-width:280px;
$sidebar-pinned-width:80px;
$sidebar-footer-height:35px;
$border-radius:4px;
$sidebar-bg-color: #005a87;
$primary-color: #ffffff;
$primary-highlight-color: #d8d8d8;
$border-color: #006599;
$submenu-bg-color: #006599;
$menu-icon-bg-color: #006599;
$menu-icon-color: #818896;
$menu-icon-highlight-color: #00365c;
$menu-header-color: #949494;
$footer-bg-color: #006599;
$shadow-color: #006599;
$scrollbar-color: #525965;